@page
@model IEnumerable<HouseholdManager.Mission_Reminders.MissionReminderModel>

    <div class="page-header">
        <h1>Mission Reminders</h1>
    </div>

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Id.ToString(), "Details", new {Controller = "Mission Reminders", id = item.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Controller = "Mission Reminders", id = item.Id }, new { @class = "btn btn-default btn-xs" })

                @*Html.DeleteLink("Delete", "Mission Reminder",
                new { id = item.Id },
                new { @class = "btn btn-danger btn-xs", onclick = "return confirm('Are you sure?');" })*@
            </td>
        </tr>
}

    </table>

    @Html.ActionLink("New", "Create", new { Controller = "Mission Reminders" }, new { @class = "btn btn-primary" })
