@model HouseholdManager.Models.ViewModels.EditMissionViewModel

@{
    ViewData["Title"] = "Mission Details";
}

<h1>Details</h1>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>@* TODO: Fix
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Point)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>@*TODO: Fix
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.UserNameWithIcon)
        </dd>*@
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Edit</a> |
    <a asp-action="Index" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Back to List</a>
</p>
<p>
    <a asp-controller="Room" asp-action="Create" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Create a Room</a>
    <a asp-controller="Member" asp-action="AddOrEdit" class="btn btn-sm btn-success mx-2"> <i class="fa-solid fa-plus"></i> Invite a Member</a>
</p>