@model HouseholdManager.Models.ViewModels.FullMissionViewModel

@{
    ViewData["Title"] = "Mission Details";
}

<h1>Details</h1>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="row mission-details">
        <dt class = "col-sm-8">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-8">
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>
        <dd class="col-sm-10">
            <text class="icon-font">@Html.DisplayFor(model => model.RoomIcon)</text>@*trailing space here is intentional*@
            @Html.DisplayFor(model => model.RoomName)
        </dd>
        <dt class = "col-sm-8">
            @Html.DisplayNameFor(model => model.Point)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt class="col-sm-8">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-8">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class="col-sm-10">
            <text class="icon-font">@Html.DisplayFor(model => model.MemberIcon)</text> @*trailing space here is intentional*@
            @Html.DisplayFor(model => model.MemberName)
        </dd>
    </dl>
    <div class="row mt-2">
        <div class="col-md-6">
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success w-100"> <i class="fa-solid fa-pen-to-square"></i> Edit This Mission</a>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <a asp-action="Index" class="btn btn-secondary w-100"> <i class="fa-solid fa-arrow-left"></i> Cancel</a>
            </div>
        </div>
    </div>
</div>
