@model HouseholdManager.Models.Mission

@{
    ViewData["Title"] = "Mission Details";
}

<h1>Details</h1>
<p>
    <a asp-controller="Room" asp-action="Create" class="btn btn-sm btn-outline-primary mx-2"> <i class="fa-solid fa-plus"></i> Create a Room</a>
    <a asp-controller="Household" asp-action="AddOrEdit" class="btn btn-sm btn-outline-primary mx-2"> <i class="fa-solid fa-plus"></i> Create a Household</a>
    <a asp-controller="Member" asp-action="AddOrEdit" class="btn btn-sm btn-outline-primary mx-2"> <i class="fa-solid fa-plus"></i> Create a Member</a>
    <a asp-controller="MessageProperty" asp-action="Edit" ckass="btn btn-sm btn-outline-primary mx-2"><i class="fa/solid fa-plus"></i> Create a Notification</a>
</p>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Point)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Completed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Completed)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberUserNameWithIcon)
        </dd>
    </dl>
</div>
<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model?.MissionId" class="btn btn-success form-button"> <i class="fa-solid fa-pen-to-square"></i> Edit</a>
    <a asp-action="Index" class="btn btn-secondary form-button"> <i class="fa-solid fa-arrow-left"></i> Back to List</a>
</div>
