@model IEnumerable<HouseholdManager.Models.Mission>

@{
    ViewData["Title"] = "Missions";
}

<h1>All Missions</h1>

<div class="containter">
    <div class="row">
        <div class="col-md-15">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Mission
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Room)
                            </th>
                            <th>
                                Points
                            </th>
                            <th>
                                Due Date
                            </th>
                            <th>
                                <a asp-action="Create" class="btn btn-sm btn-success"> <i class="fa-solid fa-plus"></i> Mission</a>
                                <a asp-controller="Room" asp-action="Create" class="btn btn-sm btn-primary"> <i class="fa-solid fa-plus"></i> Room</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MissionName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Room.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Point)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DueDate)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.MissionId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.MissionId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.MissionId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

