@model IEnumerable<HouseholdManager.Models.Mission>

@{
    ViewData["Title"] = "Missions";
}

<h1>All Missions</h1>

@await Html.PartialAsync("_CreationButtonsPartial")

<div class="containter">
    <div class="row">
        <div class="col-md-15">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Mission
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Room)
                            </th>
                            <th>
                                Points
                            </th>
                            <th>
                                Due Date
                            </th>
                            <th>
                                Member
                            </th>
                            <th class="text-center">
                                Edit | Details | Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Room.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Point)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DueDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Member.UserNameWithIcon)
                                </td>
                                <td class="text-center">
                                    <a asp-action="Edit" asp-route-id="@item.RoomId" class="btn btn-sm btn-primary mx-1"> <i class="fa-solid fa-pencil"></i> </a>
                                    <a asp-action="Details" asp-route-id="@item.RoomId" class="btn btn-sm btn-secondary mx-1"> <i class="fa-solid fa-list-check"></i> </a>
                                    <a asp-action="Delete" asp-route-id="@item.RoomId" class="btn btn-sm btn-warning mx-1"> <i class="fa-solid fa-trash-can"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

