@model HouseholdManager.Models.Member

@{
    ViewData["Title"] = Model.MemberId == 0 ? "Create a New Member" : "Edit Member";
}

<h3>@ViewData["Title"]</h3>

@await Html.PartialAsync("_CreationButtonsPartial")


<div class="row">
    <div class="col-md-7">
        <div class="widget p-5 form-bg">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="MemberId" value="@Model.MemberId" />
                <div class="mb-3">
                    <div class="btn-group" role="radiogroup">
                        <input type="radio" class="btn-check" id="radioleft" name="MemberType" value="Admin" checked="@(Model.MemberType=="Admin")" />
                        <label class="btn btn-outline-secondary" for="radioleft">Admin</label>
                        <input type="radio" class="btn-check" id="radiomiddle" name="MemberType" value="Member" checked="@(Model.MemberType=="Member")" />
                        <label class="btn btn-outline-secondary" for="radiomiddle">Member</label>
                    </div>
                </div>
                <div class="mb-3">
                    <ejs-dropdownlist id="ddlUser" ejs-for="UserName"
                                      dataSource="@ViewBag.IdentityUsers" placeholder="User"
                                      floatLabelType="Always" allowFiltering="true" ignoreAccent="true"
                                      filterType="Contains" popupHeight="220px">
                        <e-dropdownlist-fields value="UserName" text="UserName"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="UserName" class="text-danger" fs-6></span>
                    </div>

                <div class="mb-3">
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" id="iconInput" class="form-control" hidden />
                    @await Html.PartialAsync("_IconMenuPartial")
                    <span asp-validation-for="Icon" class="text-danger" fs-6></span>
                </div>
                <div class="mb-3">
                    <ejs-dropdownlist id="ddlHousehold" ejs-for="HouseholdId"
                                      dataSource="@ViewBag.Households" placeholder="Household"
                                      floatLabelType="Always" allowFiltering="true" ignoreAccent="true"
                                      filterType="Contains" popupHeight="220px">
                        <e-dropdownlist-fields value="HouseholdId" text="HouseholdNameWithIcon"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="HouseholdId" class="text-danger" fs-6></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-button"> <i class="fa-solid fa-floppy-disk"></i> Save</button>
                    <a asp-action="Index" class="btn btn-secondary form-button"> <i class="fa-solid fa-arrow-left"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-user-large fa-2xl"></i>
        </div>
    </div>
</div>

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@
