@model HouseholdManager.Models.ViewModels.RoomDetailViewModel
@using HouseholdManager.Data.API

@{
    ViewData["Title"] =  @Model.RoomName + " Details";
    var req = new IconRequestor();
    //Below is no longer needed with the ViewModel in place
    //string iconMouseOverText = await req.GetMouseoverTextForIcon(ViewData.Model.Icon,
    //                                                             (IEnumerable<Icon>)ViewBag.Icons);
}

<h1><span class="icon-font" title=@iconMouseOverText>@Model.RoomIcon</span> @Model.RoomName</h1>
@await Html.PartialAsync("_CreationButtonsPartial")


<div> 
    <table class="table-bordered table-responsive table-hover">
        <tr>
            <th>Missions In @Model.RoomName</th>
        
            <th>Point Value</th>
       
            <th>Due Date</th>
        </tr>
            @foreach (Mission item in Model.Missions)
            {
            <tr>
                <td>@item.MissionName</td>
                
                    <td>@item.Point</td>
                
                    <td>@item.DueDate</td>
            </tr>
            }
    </table>
</div>
<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model?.RoomId" class="btn btn-success form-button"> <i class="fa-solid fa-pen-to-square"></i> Edit</a>
    <a asp-action="Index" class="btn btn-secondary form-button"> <i class="fa-solid fa-arrow-left"></i> Back to List</a>
</div>

