@model HouseholdManager.Models.Room
@using HouseholdManager.Data.API

@{
    ViewData["Title"] = "Room Details";
    var req = new IconRequestor();
    string iconMouseOverText = await req.GetMouseoverTextForIcon(ViewData.Model.Icon,
                                                                 (IEnumerable<Icon>)ViewBag.Icons);
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10" title=@iconMouseOverText>
            <span>
                <label class="icon-font">@Html.DisplayFor(model => model.Icon)</label>
                <label class="icon-slug-display-small">@iconMouseOverText</label>
            </span>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
