@model IEnumerable<HouseholdManager.Models.ViewModels.EditRoomViewModel>

@{
    ViewData["Title"] = "Rooms";
}

<h3>All Rooms</h3>

@await Html.PartialAsync("_CreationButtonsPartial")

<div class="container">
    <div class="row">
        <div class="col-md-15">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Room Name
                            </th>
                            <th class="text-center">
                                Edit | Details | Delete
                            </th>                                
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <text class="icon-font">@Html.DisplayFor(modelItem => item.Icon)</text> 
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="text-center">
                                    <div>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary mx-1"> <i class="fa-solid fa-pencil"></i> </a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary mx-1"> <i class="fa-solid fa-list-check"></i> </a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-warning mx-1"> <i class="fa-solid fa-trash-can"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


